<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HiddenTempleTeam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3DDAEB4F1CF781A200E39AF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DDAEB6B1CF781A300E39AF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DDAEB761CF781A300E39AF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
